.component-container {
    box-sizing: content-box;
    width: 700px;
    height: 100%;
}

.autocomplete-messages {
    display: none;
}

.autocomplete-suggestions {
    border: 1px solid blue;
    box-shadow: 1px 2px 3px rgba(0,0,90,0.2);
    box-sizing: border-box;
    cursor: default;
    display: none;
    margin: 0;
    max-height: 138px;
    min-height: 46px;
    overflow: scroll;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    z-index: 9999;
}

.autocomplete-suggestions .avatar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.autocomplete-suggestions li {
    font-family: sans-serif;
    list-style-type: none;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.autocomplete-suggestions li.selected {
    background: #f0f0f0;
    font-weight: bold;
}

.autocomplete-suggestions span.match {
    color: red;
}

input[type=text] {
    border: 1px solid #0f0f0f;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

input[type=text]:focus {
    border-color: blue;
    outline: none;
}

div.comment-editor {
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    color: #000000;
    height: 120px;
    width: 100%;
    overflow: scroll;
    padding: 10px;
    text-decoration: none;
}

div[contenteditable=true]:active,
div[contenteditable=true]:focus {
    border: 1px solid blue;
    outline:none;
}

.usertag {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
}

.usertag:focus {
    border: 1px solid blue;
    border-radius: 2px;
    padding: 2px;
}
